{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">

    <h1>Bonjour</h1>
    <h2> {{compeur}} {{ compteurDate }}</h2>
</div>
{% endblock %}
