<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ma boutique test">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.jpg">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    <title>{% block title %}DemoResto - 100% tradition {% endblock %}</title>
    

    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">-->
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    
    <link rel="stylesheet" href="{{asset('assets/css/maboutique.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/anim.css')}}">
    {% block Javascript %}
    {% endblock %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
</head>


<body>

    <header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">DemoResto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}">Notre carte</a>
                </li>
                <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Qui sommes nous ?</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="https://gitlab.com/PatBoyDevInFrance/e-commerce1">Le projet sur GitLab</a>
            <a class="dropdown-item" href="https://patboydevinfrance.github.io/myCv/">Mon parcours</a>
        </div>
        </li>
                
        <li class="nav-item active">
            <a class="nav-link" href="{{path('contact')}}">Contact</a>
        </li>           
            </ul>
            <div class="navbar-item-custom">
            {% if app.user %}
                <a href="{{ path('account') }}"><small >Bonjour <span style="color:orange;" >{{app.user.firstname}}</span> </small><br>Compte</a> | <a href="{{ path('app_logout') }}">Déconnection</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connection</a> | <a href="{{ path('register') }}">Inscription</a>
            {% endif %}
            </div> 
            <a href="{{path('cart')}}"><img src="{{ asset('img/shopping-cart.png' )}}" alt=""  class="cart-icon"> 
            
            </a>
             
        </div>
    </nav>
</header>

<!--
<pre>
    {{ dump(app.session) }}
</pre>
-->
<main role="main">
{% if block ('carousel') is defined %}
<div class="home">
    <div class="overlay"></div>
    
    <video muted autoplay loop preload="auto" poster="{{  asset('public/index/img/video.jpg') }}" id="background" >
    <source src="{{ asset('img/restauAnim.mp4') }}" type="video/mp4" >
</video>

</div>

    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
        {% for key,header in headers %}
            <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
        {% endfor %}         
        </ol>

        <!--Block départ Carousel -->
        
        <div class="carousel-inner">
            {% for key,header in headers %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration}}');background-size:cover;">
                
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{header.title}}</h1>
                        <hr>
                        <p>{{header.content}}</p>
                        <p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!--Block fin Carousel -->
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

{% endif %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
 
    <div class="container marketing {% if block ('carousel') is not defined %} mt-5 {% endif %}">
        
    {% block content %}
    
    {% endblock %}
    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custum">
        
        <p>
        &copy; 2017-2020 MaBoutique, <br><small> La boutique de test <br> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
       </small> 
       </p>
    </footer>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" ></script>
<script src="https://scrollmagic.io/scollmagic/uncompressed/plugins/animation.gspa.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="{{ asset('assets/js/style.js') }}"></script>


    
</body>
{% block script %}
{% endblock %}
</html>