/* body {
    position: relative;
} */

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;

}
.footer-custum{
    text-align: center;
    position: absolute;
    bottom: 20;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 14px;

}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;

}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container{
    margin-bottom: 150px;

}

.product-page-price {
    font-weight: bold;
    font-size: 19px;
}

.cart-icon{

    height: 20px;
    padding-left: 20px;
}

.register-block {
    padding: 10px;
    background-color: #fafafa;
}

.block-small{

    max-width: 600px;
    margin : 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {

    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;

}
.account-item {
    background-color: #f0debe;
    padding: 70px;
}
.account-item a{
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}
.account-item a:hover{
    color: #778ca3;
    text-decoration: none;

}

.composition {
    position: relative;
    margin-top: 2.8rem;
    
}

.compo_photo {

    left: 0;
    top: -2rem;
}

.compo_photo:hover {
    
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0, 0.5);
    Z-index:20;
}

.compo_btn {
    position: relative;
    margin-top: 2.8rem;
    left: 0;
    
}

.compo_btn:hover { 
    transform: scale(1.05) translateY(-0.5rem);
    Z-index:20;
}
.jumbotron {

    color: dimgrey;
}
