*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
}

.bloc-txt {
    background: white;
    position: absolute;
    bottom: -50px;
    left: -50px;
    height: 0;
    z-index: 175;
    overflow: hidden;
}

.bloc-txt h2 {
    padding: 10px 30px;
    color: #222;
    font-family: Playfair Display, serif;
    font-size: 40px;
    text-transform: uppercase;
    transform: translateY(100px);
}

.images-container {
    width: 100px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 150;
    overflow: hidden;
}

.img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
}

.img-flip {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: repeat;
}

.load-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #e0b289;
    pointer-events: none;
}

.anim-bloc {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 100;

}
 .bloc-txt {
    background: white;
    position: absolute;
    bottom: -50px;
    left: -50px;
    height: 0;
    z-index: 175;
    overflow: hidden;
}

.bloc-txt h2 {
    padding: 10px 30px;
    color: rgba(165, 10, 142, 0.603);
    font-family: Playfair Display, serif;
    font-size: 40px;
    text-transform: uppercase;
    transform: translateY(100px);
}

.images-container {
    width: 100%;
    height: 0px;
    position: absolute;
    /* Pour faire monter la height de bas en haut */
    bottom: 0px;
    z-index: 150;
    overflow: hidden;
}

.img-flip{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
}

.flip-img1 {
    background-image: url(ressources/image3.png);
}

.flip {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    position: absolute;
}

.f2 {
    background: #9b1339;
}



.home {
    width: 200%;
    height: 200%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-content {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    color: #fff;
    z-index: 15;
}
.home-content h1 {
    font-family: Playfair Display, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    /* font-weight: bolder; */
    line-height: 1.1;
}
.home-content .middle-line {
    height: 200px;
    width: 2px;
    background: #fff;
    margin: 40px auto;
    position: relative;
}


.home-content button {
    display: block;
    font-size: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 16px 30px;
    cursor: pointer;
}