<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Ma boutique test">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.jpg">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.1.1">
        
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
        
		<!-- Bootstrap core CSS -->
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>-->
		<!--<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">-->
		<link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet"> 
        <link rel="stylesheet" href="{{asset('assets/css/maboutique.css')}}"> 
        {% block Javascript %}{% endblock %}
		<!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		<link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
        
	</head>
	<body>
  

  <div class="anim-bloc">
        <div class="images-container">
            <div class="img-flip flip-img1"></div>
            <div class="flip f2"></div>
        </div>

        <div class="bloc-txt">
          <h1 class="jumbotron" >Mon Resto</h1>
            <div class="container" style="color:grey">
            
                <h1 style="color:orange" >{{ compteur }} le {{ compteurDate }}</h1>
                <h1  > {{ compteur }}</h1>
            </div>
      </div>
            <div class="middle-line"></div>
    </div>

		
 <div class="home">
 <div class="overlay">
        <!-- -->
    <video muted autoplay loop preload="auto" poster="{{ asset('ressources/img/img1.jpg') }}" id="background">
      <source src="{{ asset('ressources/video/restauAnim.mp4') }}" type="video/mp4">
    </video>
         
        
  </div>          
                
                
            
            
     

           
       

</div>
    
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
		
        <script src="{{ asset('assets/js/app.js')}}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
	    
    </body>
	{% block script %}{% endblock %}
</html>
